html{
  background-color: rgb(226, 63, 87);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
  color:rgb(44, 212, 246);
}

header {
  height: 3in;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  margin-top: 0;
  color:navy;
  transition: rotate 0.7s ease-in-out, font-size-adjust 1s ease-in-out;
  transform-origin: center;
  text-align: center;
}

header:hover h1,h1:hover{
  rotate: 360deg;
  font-size: 75px;

}

p{
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-family: fantasy;
  text-align: center;
}

div{
  font-size: 35px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 80px;
}

button{
  font-size: 18px;
  background-color: rgb(245, 218, 203);
  border: none;
  padding: 3px 8px;
  cursor: pointer;
}

.button-box{
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 50px;
}

button:hover{
  background-color: rgb(255, 157, 0);
  border: black 1px solid;
}

section {
  opacity: 0;
  height: 0;
}

section.active {
  opacity: 1;
  height: auto;
  transition: opacity 1s
}

.end-text {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-shadow: darkblue 2px 2px 4px;
  text-align: center;
}