html{
  background-image: url(galaxy.png);
  background-color: rgb(35, 180, 247);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
  color:rgb(44, 212, 246);
}

header {
  height: 3in;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1.ready{
  margin-top: 0;
  color:rgb(238, 200, 239);
  transition: rotate 0.7s ease-in-out, font-size-adjust 1s ease-in-out;
  transform-origin: center;
  text-align: center;
}

h1.ready:hover{
  rotate: 360deg;
  font-size: 75px;
}

h1{
  color: rgb(162, 13, 242);
}

p{
  font-size: 70px;
  color: rgb(243, 4, 4);
  font-family: fantasy;
  text-align: center;
}

div{
  font-size: 35px;
  color: rgb(231, 29, 29);
  text-align: center;
  margin-bottom: 80px;
}

button{
  font-size: 32px;
  background-color: rgb(189, 144, 217);
  border: none;
  padding: 3px 8px;
  cursor: pointer;
}

.button-box{
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 50px;
}

button:hover{
  background-color: rgb(178, 105, 223);
  border: rgb(0, 0, 0) 1px solid;
}

section {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

section.active {
  opacity: 1;
  height: auto;
  display: block;
  transition: opacity 1s
}

.end-text {
  font-size: 50px;
  color: rgb(45, 186, 247);
  text-shadow: darkblue 2px 2px 4px;
  text-align: center;
}
.start-text{
  color: rgb(45, 186, 247);
}

.citations{
  font-size: 25px;
  color: rgb(45, 186, 247);
  text-shadow: rgb(255, 255, 255) 1px 1px 2px;
}

a{
  color:rgb(183, 123, 220)
}